.scores-container {
  padding-left: 100px;
  padding-top: 100px;
}

.scores {
  width: 50%;
}

.scores-item {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  align-items: center;
}

.scores-item-header {
  background-color: #2799fa;
  color: white;
}

.scores-item:not(.scores-item-header) {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 4px;
}

.name,
.solutions,
.tasks {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}
